body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

#home {
    display: flex; /* Usa Flexbox para organizar los elementos */
    flex-direction: column; /* Coloca los elementos en columna */
    justify-content: space-around; /* Centra los elementos verticalmente */
    height: auto; /* Ajusta la altura al contenido */
    overflow: hidden; /* Evita el desbordamiento */
    background-image: url('/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.logo {
    height: 50px; /* Mantén o ajusta según sea necesario */
    width: 50px;  /* Cambiado de 'w' a 'width' */
    margin: 0;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
    height: 508px;
}

.ContenedorPerfil {
    width: 100%; /* Ajusta el ancho al contenedor padre */
    max-width: 435px; /* Opcional: establece un ancho máximo */
    height: auto; /* Ajusta la altura al contenido */
    clip-path:fill-box; /* Recorta la imagen en forma de cuadrad caja */
    overflow: hidden; /* Asegura que solo se vea la parte recortada */
    position: relative;
    transform: translate(0, 50px);
}
.perfil {
    width: 100%; /* Asegura que la imagen llene el contenedor */
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
    object-position: top center;
    transform: translate(0, 10px); /* Ajusta la posición de la imagen */
}

h1.titulo {
    display: inline;
    padding: 0;
    margin: 0;
    font-size: 48px;
    text-align: left;
}

/* aqui inicia el espacio para css de la seccion de quiensoy */

.quiensoy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 538px;
    width: 100%; 
    background-color: #141414; /* Cambia el color de fondo */
    color: white;
    gap: 50px; /* Espacio entre los elementos */
}

.info   {
    width: 532px;
    height: 237px;
}
.icon {
    width: 211px;
    height: 211px;
    background-size: cover;
}
p.contenido{
    font-size: 1.5em;
    margin: 20px 0;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #fafafa;
    width: 100%;
    min-height: 604px;
}
.servicios {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 250px; /* Espacio entre los elementos */
}

.titulo {
    text-align: center;
    width: 403px;
    height: 56;
}
.servicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 271px;
    height: 312px;
    gap: 20px; /* Espacio entre los elementos */
}
.iconService {
    width: 138px;
    height: 138px;
}
h2.titulo {
    font-size: 24px;
    text-align: center;
}
p.contenidoS {
    font-family: 16px;
    text-align: center;
    margin: 0;
}

/* aqui termina el espacio para css de la seccion de quiensoy */
/** aqui inicia el espacio para css de la seccion de contacto */
#contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #141414;
    width: 100%;
    min-height: 660px;
    color: white;
    gap: 50px;
}

.tituloform {
    width: 271px;
    height: 497px;
    display: flex;
    align-items: flex-start;
    padding-top: 25px;
}
.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px; /* Espacio entre los elementos */
    color: white;
}

#nombre, #email, button.btn {
    width: 376px;
    height: 45px;
    font-size: 24px;
    border: 3px solid #444444;
    border-radius: 5px;
}

#mensaje {
    width: 376px;
    height: 113px;
    font-size: 24px;
    border: 3px solid #444444;
    border-radius: 5px;
    padding: 0; /* Elimina cualquier padding adicional */
    margin: 0; /* Elimina márgenes adicionales */
}

button.btn {
    margin-top: 60px;
    background-color: #FFD953;
    color: rgb(2, 2, 2);
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    border: none; /* Elimina el borde predeterminado del botón */
}

.labelform {
    margin-top: 25px;
}

/*Aqui termina el espacio para css de la seccion de contacto */
/* Aqui inicia el espacio para css de la seccion de footer */
#footer {
    background-color: #eeeeee;
    background-image: url('/bg-footer.jpg');
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 346px;
}

.iconRedes {
    width: 28px;
    height: 28px;
}

.redes {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.redes-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px; /* Espacio entre los iconos */
}
.contenedor-log-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 112px;
    height: 118px;
    font-size: 13px;
    gap: 15px;;
}
.tituloIcon {
    font-size: 16px;
}

/* Estilos generales del menú */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 62px 100px 50px 100px;
    color: #000000;
}

.menu-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    margin: 0;
}

.menu-list li a {
    text-decoration: none;
    color: #000000;
}

/* Estilos del menú burger */
.burger-menu {
    display: none; /* Oculto por defecto */
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.burger-menu span {
    display: block;
    width: 36px;
    height: 6px;
    background-color: rgb(22, 22, 22);
    border-radius: 2px;
}



/* Aqui termina el espacio para css de la seccion de footer */
/* Media Queries para Responsividad */

/* Media Query para vista móvil */
@media (max-width: 375px) {
    .nav {
        padding: 17px;
    }
    .menu-list {
        display: none; /* Oculta el menú por defecto */
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: none;
        padding: 20px;
        border-radius: 5px;
        gap: 15px;
    }

    .menu-list.active {
        display: flex; /* Muestra el menú cuando está activo */
        align-items: center;
        background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro semitransparente */
        width: 325px;
        color: white; /* Cambia el color del texto a blanco */
        padding: 20px; /* Agrega espacio interno */
        border-radius: 5px; /* Bordes redondeados */
    }
    .menu-list.active li a {
    color: white; /* Asegura que los enlaces sean legibles */
    text-decoration: none; /* Elimina el subrayado */
}

    .burger-menu {
        display: flex; /* Muestra el ícono de la hamburguesa */
    }
}

@media (max-width: 375px) {
    .hero {
        flex-direction: row; /* Cambia la dirección de los elementos a columna */
        flex-wrap: wrap;
        justify-content: center; /* Centra los elementos en columna */
        align-items: center;
        margin: 0 25px;
    }
    .titulo {
        display: inline;
        padding: 0;
        margin: 0;
        font-size: 48px;
        text-align: center;
    }
}

@media (max-width: 375px) {
    .quiensoy {
        flex-direction: row; /* Cambia la dirección de los elementos a columna */
        flex-wrap: wrap-reverse;
        justify-content: center; /* Centra los elementos en columna */
        align-content: center;
        text-align: center;
        padding: 0 35px;
        gap: 57px; /* Ajusta el espacio entre los elementos */
}
    p.contenido{
        font-size: 16px;
        margin: 0;
        text-align: left;
}
    h2.titulo {
        font-size: 32px;
        text-align: center;
    }

    .icon {
        width: 110px;
        height: 110px;
        background-size: cover;
    }

    .info   {
        display: flex;
        flex-direction: column; /* Cambia la dirección de los elementos a columna */
        align-items: center;
        gap: 47px;
        width: 312px;
        height: auto;
    }
}  

@media (max-width: 375px) {
    #about {
        flex-direction: column; /* Cambia la dirección de los elementos a columna */
        align-items: center; /* Centra los elementos en columna */
        justify-content: center;
        height: 1375px;
        gap: 52px;
    }
    h1.titulo {
        font-size: 32px;
        text-align: center;
    }
    p.contenidoS{
        width: 262px;
        height: 117px;
    }

    .servicios {
        flex-direction: column; /* Cambia los servicios a columna */
        gap: 104px; /* Ajusta el espacio entre los servicios */
    }

    .servicio {
        width: 100%; /* Asegura que cada servicio ocupe todo el ancho disponible */
    }
}

@media (max-width: 375px) {
    #contact {
        height: 660px;
        flex-direction: column; /* Cambia la dirección de los elementos a columna */
        align-items: center; /* Centra los elementos en columna */
        gap: 0; /* Ajusta el espacio entre el título y el formulario */
    }

    .tituloform, .formulario {
        width: 100%; /* Asegura que ocupen todo el ancho disponible */
        height: auto; /* Permite que la altura se ajuste al contenido */
        text-align: left; /* Centra el texto */
    }
    .tituloform {
        font-size: 32px;
    }
    .labelform {
        padding-top: 0;
    }

    #nombre, #email, button.btn {
        width: 335px;
    }

    #mensaje {
        width: 335px;
    }
}
@media (max-width: 375px) {
    #footer {
        flex-direction: column; /* Cambia la dirección de los elementos a columna */
        align-items: flex-start;
        justify-content: center; /* Alinea los elementos al inicio */
        gap: 85px; /* Ajusta el espacio entre los elementos */
        height: 493px; /* Permite que la altura se ajuste al contenido */
        background-image: none; /* Elimina la imagen de fondo */
        background-color: #DBDBDB;
        padding-left: 16px;
        padding-top: 53px;;
    }

    .redes {
        flex-direction: column; /* Cambia las redes sociales a fila */
        justify-content: flex-start; /* Centra los iconos horizontalmente */
        gap: 25px;
    }
}
